.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.icon-item {
  height: 50px;
  text-align: center;
  width: 50px;
  margin: 20px auto;
  color: #24292e;
  cursor: pointer;
}